body{
	margin: 0;
    font-family:serif;
    text-align: justify;
}

header {
	overflow:hidden; 
	background:#2e3546;
	margin-bottom:20px;
}

.wrapper {
	width:90%;
	max-width:1000px; 
	margin:auto; 
	overflow:hidden; 
}

header .logo {
	color:#f2f2f2;
	font-size:40px;
	line-height:200px;
	float:left;
}

.articulo{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	overflow:hidden; 
	background:#2e354621;
	margin-bottom:20px;
}

.parrafo{
	margin-left: 100px;
	margin-right: 100px;
	font-size: large;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 22px;
}

@media screen and (max-width: 1100px) {
	.img01{
		width: 100%;
		text-align: center;
		line-height: 100px;
		margin-right: auto;
		margin-left: auto;
	}
    .img02{
		width: 100%;
		text-align: center;
		line-height: 100px;
		margin-right: auto;
		margin-left: auto;
	}
}
.imagen02{
	width: 200px;
	height: 200px;
}

.imagen03{
	width: 400px;
	height: 66px;
}

.footer {
	background-color: #2e3546;
	color: #fff;
	text-align: center;
}

@media screen and (max-width: 800px){
    .articulo,
	.titulo01,
	.parrafo{
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom:20px;
	}
	.imagen01{
		width: 500px;
		height: 250px;
	}
}

@media screen and (max-width: 600px){
    .articulo,
	.articulo01,
	.parrafo,
	.info{
		font-size: 15px;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom:20px;
	}
}

@media screen and (max-width: 600px){
	.titulo01{
		font-size: 20px;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom:20px;
	}
}

@media screen and (max-width: 600px){
	.imagen01,
	.imagen02,
	.imagen03{
		width: 300px;
		height: 160px;
	}
}

.parrafo05{
	margin-left: 100px;
	margin-right: 100px;
	font-size: large;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 22px;
	padding-top: 20px;
	padding-bottom: 40px;
}

.footer {
	background-color: #2e3546;
	color: #fff;
	text-align: left;
	flex: 0 0 auto;
}